body {
	font-family: "Encode Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
  color: #797979;
  background: url(../images/body_bg.gif) repeat-x 0 0;

}
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	color: #1a8d14;
	font-weight: 500;
	font-family: 'Encode Sans Condensed';
	font-size: 2.5rem;
}

a:focus {
  outline: none;
}

a {
  color: #1a8d14;
  text-decoration: none;
}
a:hover {
  color: #57c251;
}


code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

img,
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
.left {
	float: left;
}
.right {
	float: right;
	width: auto;
}
.full {
	float: left;
	width: 100%;
}
.curve {
	float: left;
	width: 100%;
}
.curve img {
	float: left;
}
.clear {
	clear: both;
}

.consectetur {
  float: left;
  width: 485px;
  background: url(/images/quotebox_bg.gif);
  padding: 9px;
  margin: 30px 0 25px;
  display: inline;
  clear: left;
}
.consectetur p {
  float: left;
  width: 452px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-style: italic;
  padding: 16px;
  margin: 0px;
  border: solid #c6c6c6 1px;
}